<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GetModelos</servlet-name>
        <servlet-class>Servlets.GetModelos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar_listar_publicaciones</servlet-name>
        <servlet-class>Servlets.Editar_listar_publicaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ver_Publicacion</servlet-name>
        <servlet-class>Servlets.Ver_Publicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInfo_Publicaciones</servlet-name>
        <servlet-class>Comprador.GetInfo_Publicaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Crear_eliminar_publicacion</servlet-name>
        <servlet-class>Servlets.Crear_eliminar_publicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicar_Registrar_Sesion</servlet-name>
        <servlet-class>Servlets.Inicar_Registrar_Sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario_general</servlet-name>
        <servlet-class>Servlets.Usuario_general</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario_gral</servlet-name>
        <servlet-class>Comprador.Usuario_gral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Crear_Listar_modelo</servlet-name>
        <servlet-class>Servlets.Crear_Listar_modelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar_Editar_modelo</servlet-name>
        <servlet-class>Servlets.Eliminar_Editar_modelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Crear_Lista_Marcas</servlet-name>
        <servlet-class>Servlets.Crear_Lista_Marcas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar_Eliminar_Marcas</servlet-name>
        <servlet-class>Servlets.Editar_Eliminar_Marcas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>closeSession</servlet-name>
        <servlet-class>Servlets.closeSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetModelos</servlet-name>
        <url-pattern>/GetModelos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar_listar_publicaciones</servlet-name>
        <url-pattern>/Editar_listar_publicaciones.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Crear_eliminar_publicacion</servlet-name>
        <url-pattern>/Crear_eliminar_publicacion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ver_Publicacion</servlet-name>
        <url-pattern>/Ver_Publicacion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInfo_Publicaciones</servlet-name>
        <url-pattern>/GetInfo_Publicaciones.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicar_Registrar_Sesion</servlet-name>
        <url-pattern>/Inicar_Registrar_Sesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Crear_Listar_modelo</servlet-name>
        <url-pattern>/Crear_Listar_modelo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar_Editar_modelo</servlet-name>
        <url-pattern>/Eliminar_Editar_modelo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Crear_Lista_Marcas</servlet-name>
        <url-pattern>/Crear_Lista_Marcas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar_Eliminar_Marcas</servlet-name>
        <url-pattern>/Editar_Eliminar_Marcas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>closeSession</servlet-name>
        <url-pattern>/closeSession.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
